/* ---------- VARIABLES ----------------*/

:root {
  --light-blue: #71a1be;
  --medium-blue: #005282;
  --dark-blue: #05263a;
  --pink: #f58c99;
  --lato-font: "Lato", sans-serif;
  --arial-font: arial, sans-serif;
}

/* ---------- RESETS ----------------*/

body {
  margin: 0;
  text-align: center;
}

ul {
  margin: 40px 10px;
}

ul>li {
  text-align: left;
  display: list-item;
  list-style-type: none;
  margin-right: 15px;
  font-family: var(--lato-font);
}

hr {
  height: 2px;
  background: var(--medium-blue);
  width: 60%;
}

input[type="checkbox"] + label {
  font-family: var(--lato-font);
  padding: 0 0 0 15px;
  font-size: 12px;
}

/* ---------- MOBILE LAYOUT ----------------*/

.page-wrap {
  width: 100%;
}

#intro-description {
  font-weight: 700;
  font-family: var(--arial-font);
  padding: 0 15px;
}

.btn {
  background-color: var(--medium-blue);
  color: #fff;
  border-radius: 10px;
  border: solid var(--dark-blue) 1px;
  padding: 15px 7rem;
  margin: 20px 0 20px;
  font-size: 14px;
}

#calendar {
  background-color: var(--light-blue);
  color: #fff;
  line-height: 1.75rem;
  padding: 30px 0;
}

#timer-container {
  background-color: var(--light-blue);
  color: #fff;
  line-height: 1.75rem;
  padding: 20px 0 60px;
}

#bio {
  background-color: var(--dark-blue);
  color: #fff;
  padding: 2.25rem;
}

#webinar-details img {
  float: left;
  padding: 15px 40px 30px 0px;
  margin: 0 0 35px 0;
}

#webinar-details li {
  display: inline-block;
}

#bio img {
  text-align: center;
  width: 85%;
  height: 85%;
}

#warning {
  background-color: var(--pink);
  color: #fff;
  padding: 1rem .25rem;
  line-height: 1.5rem;
}

#warning-symbol {
  display: none;
}

#claim-spot {
  background-color: var(--dark-blue);
  color: #fff;
  padding: 1.25rem .25rem;
  margin-bottom: 20px;
}

#timer {
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 3.5rem 0 0;
}

.success {
  font-size: 22px;
  padding: 0 0 20px;
}

/* ---------- MEDIA QUERIES ----------------*/

@media screen and (min-width: 1023px) {

  hr {
    width: 40%;
  }

  .page-wrap {
    width: 100%;
  }

  #intro-description {
    font-size: 24px;
    font-weight: 500;
    margin: 0 10rem;
  }

  #intro-description p {
    padding: 0 7rem;
  }

  .btn {
    padding: 1rem 10rem;
    font-size: 20px;
  }

  #desktop-container {
    margin: 0 10rem;
  }

  .flex-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    width: fit-content;
  }

  #calendar {
    float: left;
    flex: 1;
    margin-right: 2rem;
    padding: 1.5rem 7.3rem;
  }

  #timer-container {
    float: right;
    flex: 4;
    width: 800px
  }

  #bio {
    float: left;
    flex: 2;
    padding-top: 10rem;
  }

  #bio img {
    height: 60vh;
    width: 25vw;
  }

  #webinar-details li {
    padding-bottom: 3rem;
  }

  #warning-symbol {
    display: inline-table;
    width: 50px;
    height: 50px;
    padding: 0px 30px 0;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
  }

  #warning {
    display: table;
    width: 100%;
    padding: 0;
  }

  #warning p {
    display: inline-table;
    vertical-align: text-top;
    margin-block-start: -2.75em;
    margin-block-end: 0em;
  }

  #webinar-details {
    float: right;
    flex: 2;
    padding: 3.5rem;
    font-size: 1.5rem;
  }

  #timer {
    font-size: 2.5rem;
  }

  .success {
    font-size: 30px;
    padding: 0 0 20px;
  }

}